body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.header { /* alterei a cor para mais clara e um tom mais pastel */
    background-color: rgb(96, 117, 239);
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.581);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.footer { /* acrescentei uma estilização para o rodapé para uma melhor organização das informações dispostas no site */
    margin-top: 120px;
    padding: 30px;
    background-color: #f1f1f1;
    text-align: center;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: auto;
    margin-top: 160px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.581); /* acrescentei sombra ao container para um destaque melhor */
}

.content {
    margin-top: 20px;
    padding: 10px;
}

.button {
    background-color: rgb(96, 117, 239);; /* alterei a cor para ficar em harmonia com o header*/
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
}